*{
	padding:0;
	margin: 0;
	box-sizing: border-box;/*para que tenga los pixeles de ancho */
}

body{
	font-family: 'Montserrat', san-serif;
}
/* ------ Escenarios ---- */
.bg-danger{
	background-color:#81004b!important;
	/*background-color:#F53756!important; */
	background: -moz-linear-gradient(-45deg, rgba(169,3,41,0.7) 0%, rgba(0,0,0,0.7) 51%, rgba(107,107,107,0.7) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(169,3,41,0.7) 0%,rgba(0,0,0,0.7) 51%,rgba(107,107,107,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(169,3,41,0.7) 0%,rgba(0,0,0,0.7) 51%,rgba(107,107,107,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3a90329', endColorstr='#b36b6b6b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.bg-success{
	background-color:#4cb8b3!important;

}

.bg-warning{
	background-color:#fef46d!important;
}

.bg-secondary{
	background-color:#752f97!important; 
}
/* Navbar*/
.fixed-top{
	transition: all .3s ease; /*Transicion */
}
.fixed-top.bg-success{
	-webkit-box-shadow: 0px 5px 19px -5px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 5px 19px -5px rgba(0,0,0,0.44);
    box-shadow: 0px 5px 19px -5px rgba(0,0,0,0.44);
}

.navbar-brand{
	font-size: 1.8rem;
	font-weight: 400;
}

.navbar-brand span{
	font-weight: 700;
}

.fixed-top .nav-link{
	color: white!important;
}

.fixed-top .active{
	background-color: #752f97!important;
}

/*Escenearios*/
.separador::after{
	content: '';
	display: block;
	height: 120px;
	width: 300px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size:120px;
	margin: 0 auto; 
}

.musica::after{
	background-image:url(../img/guitarra.png); 
}

.baile::after{
	background-image:url(../img/dj.png); 	

}

.horario.bg-warning li:nth-child(2n+1){
	background-color:#4cb8b3!important;

}

.horario.bg-success li:nth-child(2n+1){
	background-color:#eae05b!important;

}

/*Accedo al video, ya que quiero posicionar la informacion del evento en el centro */
.embed-responsive{
	position: relative;
	background-image: url(../img/fondoresponsive.jpg);
	height: 50rem;
	background-position: right right; 
}

@media(min-width:992px){
	.embed-responsive{
	background-image: unset; /*para remover la imagen */
	height: auto;/*para reiniciarlo */
	}/*embed-responsive */
}

.embed-responsive::after{
	content:'';
	display: block;
	position: absolute;
	top:0;
	height: 100%;
	width: 100%;
	/* agrego el gradiant */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,000000+51,6b6b6b+100&0.7+0,0.7+100 */
    background: -moz-linear-gradient(-45deg, rgba(169,3,41,0.7) 0%, rgba(0,0,0,0.7) 51%, rgba(107,107,107,0.7) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(169,3,41,0.7) 0%,rgba(0,0,0,0.7) 51%,rgba(107,107,107,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(169,3,41,0.7) 0%,rgba(0,0,0,0.7) 51%,rgba(107,107,107,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3a90329', endColorstr='#b36b6b6b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.informacion-shuffle{
	position: absolute;
	top: 20%;
	z-index:100;/*para traerlo al frente */
}

@media(min-width:992px){
	.informacion-shuffle{
		top:35%;
	}/*informacion shuffle*/
}

.informacion-shuffle h1{
	font-size: 3rem;
	line-height: 6rem;
}

@media(min-width:992px){
	.informacion-shuffle h1{
		font-size: 4rem;
		line-height: unset;
	}/*informacion shuffle*/
}

.informacion-shuffle h1 span,
.informacion-shuffle p{
	font-weight: 700; /*el grosor*/
	/* sombras */
	-webkit-box-shadow: 0px 17px 24px -13px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 17px 24px -13px rgba(0,0,0,0.34);
    box-shadow: 0px 17px 24px -13px rgba(0,0,0,0.34);

}

.informacion-shuffle p{
	font-size: 2rem;
}

.informacion-shuffle .text-dark,
.sobre-shuffle .text-dark{
	color:#FF2245!important;
	font-weight: 700;
}
/** --- Dias faltantes  --- */
.fecha{
	font-size: 2rem;
}

.fecha span{
	font-weight: 700;
}

.fecha span::before{
	content: '-';
}
/*Para quitarle al principio '-' */
.fecha span:first-child:before{
	display: none;
}

/* --- Entradas --- */
.entradas .precio{
	font-size: 2rem;
}

.entradas .active{
	background-color: #752f97!important;
	border-color:#752f97!important;
}

.list-group-item-success{
	background-color: #4cb8b3!important;
}

/*------- Formulario -----------*/
.formulario{
	background: #fff;
	width: 600px;
	margin: 10px auto; /*para centrarlo */
	padding: 50px;
	border-radius: 11px;
}


/*Para que sea responsive, utilizo en mediaquery */
@media(max-width:992px){
	.formulario{
	width: 400px;
	}/*formulario */
}

.formulario input{
	display: block;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea,
.formulario .form-group{
	width: 100%;
	padding: 10px;
	margin-bottom:20px ;/*margen inferior, para separarlos uno del otro */
	border-radius: 5px; 
	border: 1px solid #226fc1;
	font-size: 18px;
}

.formulario input[type="text"]:focus,
.formulario input[type="email"]:focus,
.formulario textarea:focus,
.formulario .form-group{
	border: 1px solid #226fc1;

}

.borde-dias{
	border: 1px solid #226fc1;
}

/* --- Para regular el agrandamiento del textarea */
.formulario textarea{
	min-height: 80px;
	max-height: 200px;
	min-width: 100%;
	max-width: 100%;
}

/*Estilos al boton */
.formulario input[type="submit"]{
	margin:0 auto;/*para centrar el boton */
	background: none;
	border: 1px solid #752f97;
	color: #752f97;
	padding: 10px;
	cursor: pointer;/*Para cambiar el cursor */
	font-size: 17px;
	border-radius: 5px;
}

.formulario input[type="submit"]:hover{
	background: #752f97;
	color: #4cb8b3!important;
}

