<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<meta charset="utf-8">
	{% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/css/styledashboard.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<!-- Barra principal -->
	<nav class="navbar bd-navbar navbar-expand-lg navbar-dark bg-admin">
		<a href="#" class="navbar-brand">Administración Shuffle</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
		 data-target="#navegacion">
		 	<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navegacion">
			<div class="container"><!--Procedo a usar la grid de boostrap -->
				<div class="col"><!-- Columnas -->
					<!--Barra de busqueda -->
					<form action="#" class="my-2 my-lg-0">
						<input class="form-control" type="search" placeholder="Buscar...">
					</form><!-- Barra de busqueda -->
				</div><!--col-->
			</div><!--Container --> 	
		</div><!--Collapse -->
	</nav>
	<!-- barra lateral -->
	<aside class="bg-dark p-4">
		<h3 class="text-light text-center">Navegación</h3>
		<ul class="nav flex-column mt-5"><!--Para que sea lateral -->
			<li class="nav-item">
			<a href="{%url 'dashboard' %}" class="nav-item text-light d-flex align-items-center"><!--align-items-center es 
				para que este alineado con el icono -->
				<!-- Agrego los iconos de materialize -->
				<i class="material-icons mr-2">contacts</i>
				Asitentes
			</a>
			</li>
			<!--Entradas vendidas -->
			<li class="nav-item">
			<a href="#" class="nav-item text-light d-flex align-items-center mt-2"><!--align-items-center es 
				para que este alineado con el icono -->
				<!-- Agrego los iconos de materialize -->
				<i class="material-icons mr-2">attach_money</i>
				Ventas
			</a>
			</li>
		</ul><!--UL-->
	</aside><!-- aside -->

	<!-- Creo el contenido principal para que se puedan agregar un nuevo asistente -->
	<main class="pt-4">
		<div class="container">
			<h2 class="text-center mb-4">Nuevo asistente</h2>
			<div class="row">
				<div class="col">
					<form action="">
						<div class="form-group">
							<label for="nombre">Nombre: </label>
							<input type="text" class="form-control" id="nombre" placeholder="Nombre asistente">
						</div><!--Form group -->
						<div class="form-group">
							<label for="apellido">Apellido: </label>
							<input type="text" class="form-control" id="apellido" placeholder="Apellido asistente">
						</div><!--Form group -->
						<div class="form-group">
							<label for="cedula">Cedula: </label>
							<input type="text" class="form-control" id="cedula" placeholder="Cedula asistente">
						</div><!--Form group -->
						<div class="form-group">
							<label for="email">Email: </label>
							<input type="email" class="form-control" id="email" placeholder="Email asistente">
						</div><!--Form group -->
						<label for="entrada">Tipo de entrada</label>
							<select id="entrada" class="form-control">
								<option value="1">1 Día</option>
								<option value="2">2 Días</option>
							</select><!--Fin del select -->
						<button type="submit" class="btn text-light bg-admin mt-5">Agregar</button>
					</form>
				</div><!-- col -->
			</div><!-- row -->
		</div><!-- container -->
	</main><!--Main -->
	<script src="js/nuevoaasistente.js"></script>
</body>
</html>